* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #212121;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}
.post {
  margin: 16px;
  background-color: #424242;
  width: 30rem;
  height: 12rem;
  border-radius: 1.5rem;
  padding: 1rem;
  border: 0.15rem solid #cfcfcf;

}
.update {
  width: 125px;
  height: 35px;
}
.postUser {
  text-align: left;
  font-size: 1.2rem;
}
.postTitle {
  text-align: center;
  font-weight: bold;
}
.postBody {
  text-align: left;
  font-size: 1.2rem;
}
.postDate {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  grid-row-start: 5;
}

















.modal {
  display: none;
  position: fixed; 
  padding-top: 50px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 25vw;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.form {
  display: flex;
  flex-direction: column;
}
.postUser:hover {
  text-decoration: underline;
  cursor: pointer;
}
img {
  width: 80px;
  border-radius: 15px;

}
img:hover {
  width: 80px;
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}